///////////////////////////////////////more (subscription and contact)

.more {
  display: flex;
  height: 10em;
  width: 100%;
  justify-content: space-between;
  padding: 2em 0;
  margin-top: 2em;
}

.more-content {
  display: flex;
  height: 120%;
  width: 75%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 6%;

  border: solid;
}

.more-content-detail {
  font-style: italic; 
  font-size: 0.5em;
  text-align: center;
}
