//index for gatherings and informations

.index {
  display: flex;
  height: 33em;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.index-title {
  height: 17%;
  width: 100%;
  font-size: 2.5em;
  font-style: italic;
  text-align: center;

  border: solid 2px black;
  background-color: grey;
}

.index-content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 1em 0;
}

.index-content-date {
  width: 35%;
  text-align: left;
  font-weight: bold;
  font-size: 1.1em;
  font-family: Impact, fantasy;

  background-color: grey;
}

.index-content-information {
  width: 85%;
  text-align: left;
  font-weight: bold;
  font-size: 1.1em;
  font-family: Impact, fantasy;
  overflow: hidden;

  background-color: grey;
}

.index-content-middle {
  background-color: silver;
}

.index-content-bottom {
  min-width: 10%;
  align-self: flex-end;
  font-weight: bold;
  font-size: 1.2em;

  background-color: grey;
}

/////////////////////////////form for reaction

.index-content-middle-new {
  min-height: 3em;

  border: solid 2px black;
}

.index-content-bottom-new {
  display: inline-block;
  min-width: 10%;
  align-self: flex-end;
  font-weight: bold;
  font-size: 1.2em;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
  border-left: solid 2px black;

  background-color: yellow;
}
