//////////////////////////////////form for gathering and information

.new {
  display: flex;
  min-height: 10em;
  width: 100%;
  justify-content: right;
  margin: 2em 0;
  font-size: 1.3em;

  background-color: yellow;
  border: solid 2px black;
  font-weight: bold;
}

.new-content {
  display: flex;
  padding: 1em;
  flex-direction: column;
}

.new-content-line {
  display: flex;
  flex-direction: row;
}

.new-content-tag {
  font-weight: bold;
  font-size: 1.5em;
  margin: 1em 0;
}

textarea {
  overflow: auto;
}

/////////////////////////////form for reaction

.index-content-middle-new {
  min-height: 3em;

  border: solid 2px black;
}

.index-content-bottom-new {
  min-width: 10%;
  align-self: flex-end;
  font-weight: bold;
  font-size: 1.2em;

  border-right: solid 2px black;
  border-bottom: solid 2px black;
  border-left: solid 2px black;
  background-color: yellow;
}
